<h1><%= @profile.name %></h1>
<h3><%= @profile.one_liner %></h3>
<p><%= @profile.description %></p>


<h3>The word on the street:</h3>
<% @sorted_profile_comments.each do |t| %>
  <p><%= t.comment %><br>
    <% id = t.id %>

  [ <%= t.count_sum %> (<%= t.count %>) |

  <%= link_to "Vote Up",
    :controller => "comments",
    :action => "increment",
    :id => t.id
  %> |
  <%= link_to "Vote Down",
    :controller => "comments",
    :action => "decrement",
    :id => t.id
  %> ]

  </p>
<% end %>



<%= form_for [@profile, @profile.comments.new] do |f| %>
<h3>
  <%= f.label :comment, "Your Comments" %>
</h3>
<%= f.text_area :comment, :cols => 35, :rows => 5 %><br>

<% if user_signed_in? %>
  ( ) Submit Annomiously<br>
  ( ) Submit as Logged in user
<% else %>

  <%= #f.text_field :ip_address, :value => request.remote_ip
  %>

  This will be submitted anonymously,<br>
  <%= link_to('Log In', new_user_session_path) %> to submit as a real person

<% end %> <br>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
