<div class="row">
  <div class="span3 text-right">
    <%= image_tag avatar_url(@profile.user.email), :class => "img-polaroid" %>
  </div>
  <div class="span5">
    <h1>
      <%= @profile.name %>
    </h1>
    <h4>
      <%= @profile.one_liner %>
    </h4>
    <p>
      <%= @profile.description %><br><br>
    </p>

    <% if @sorted_profile_comments.length > 0 %>
      <h4>What people are saying about <%= @profile.name %>:</h4>
      <% @sorted_profile_comments.each do |comment| %>
        <div class="well well-small">
          <p>
            <%= comment.comment %><br>
          </p>
            <% if comment.count_sum >= 0 %>
              <i class="icon-star"></i> <%= comment.count_sum %> |
            <% else %>
              <i class="icon-warning-sign"></i> <%= comment.count_sum %> |
            <% end %>
            <%= link_to "Vote Up", :controller => "comments", :action => "increment", :id => comment.id %> |
            <%= link_to "Vote Down", :controller => "comments", :action => "decrement", :id => comment.id %>
        </div>
      <% end %>
    <% end %>

    <h4>Say something:</h4>
    <%= form_for [@profile, @profile.comments.new] do |f| %>
      <label>
        <%= f.label :comment, "Your Comments:" %>
      <label>
      <%= f.text_area :comment, :class => "input-xlarge", :rows => 5 %><br>
      <%= f.submit "Submit", :class => "btn" %>
    <% end %>
  </div>
</div>