<h1><%= @profile.name %></h1>
<h3><%= @profile.one_liner %></h3>
<p><%= @profile.description %></p>


<h3>The word on the street:</h3>
<% @sorted_profile_comments.each do |comment| %>
  <p><%= comment.comment %><br>
    [ <%= comment.count_sum %> Points, <%= comment.count
    %> | <%=
    link_to "Vote Up", :controller => "comments", :action => "increment", :id => comment.id
    %> | <%=
    link_to "Vote Down", :controller => "comments", :action => "decrement", :id => comment.id
    %> ]
  </p>
<% end %>


<%= form_for [@profile, @profile.comments.new] do |f| %>
  <h3>
    <%= f.label :comment, "Your Comments:" %>
  </h3>
  <%= f.text_area :comment, :cols => 35, :rows => 5 %><br>
  <%= f.submit "Submit" %>
<% end %>