<h1>Honymous</h1>
<%= @all_profiles.count %> Profiles Online<br>


<%= form_tag profiles_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil  %>
  </p>
<% end %>

<%= Profile.all %>

