<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<%= link_to "Honymous", root_path, :class => 'brand' %>

<div class="nav-collapse navbar-responsive-collapse collapse" >
  <ul class="nav pull-right">
    <% if user_signed_in? %>

      <li>
        <%= link_to current_user.email, edit_user_registration_path %>
      </li>

      <% if current_user.has_profile? %>
        <li>
          <%= link_to "Manage your Profiles", manage_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Create a profile", new_profile_path %>
        </li>
      <% end %>

    <% else %>
      <li>
        <%= link_to('Sign up', new_user_registration_path)  %>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
    <% else %>
      <li>
        <%= link_to('Login', new_user_session_path)  %>
      </li>
    <% end %>

  </ul>
</div>